[submodule "workspace/src/external/mocap_optitrack"]
	path = workspace/src/external/mocap_optitrack
	url = git@github.com:ros-drivers/mocap_optitrack.git
[submodule "workspace/src/sensing/usb_cam"]
	path = workspace/src/sensing/usb_cam
	url = git@github.com:ros-drivers/usb_cam.git
[submodule "workspace/src/simulation/chrono-ros-bridge"]
	path = workspace/src/simulation/chrono-ros-bridge
	url = git@github.com:uwsbel/chrono-ros-bridge
[submodule "workspace/src/external/rosboard"]
	path = workspace/src/external/rosboard
	url = git@github.com:dheera/rosboard.git
[submodule "workspace/src/sensing/flir_camera_driver"]
	path = workspace/src/sensing/flir_camera_driver
	url = git@github.com:WisconsinAutonomous/flir_camera_driver.git
[submodule "workspace/src/perception/yolo_tensorrt"]
	path = workspace/src/perception/yolo_tensorrt
	url = git@github.com:WisconsinAutonomous/yolo_tensorrt.git
[submodule "workspace/src/common/launch/launch_utils"]
	path = workspace/src/common/launch/launch_utils
	url = git@github.com:WisconsinAutonomous/launch_utils.git
