[submodule "workspace/src/external/mocap_optitrack"]
	path = workspace/src/external/mocap_optitrack
	url = https://github.com/ros-drivers/mocap_optitrack.git
[submodule "workspace/src/sensing/usb_cam"]
	path = workspace/src/sensing/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
	ignore = dirty
[submodule "workspace/src/simulation/chrono-ros-bridge"]
	path = workspace/src/simulation/chrono-ros-bridge
	url = https://github.com/uwsbel/chrono-ros-bridge
[submodule "workspace/src/external/rosboard"]
	path = workspace/src/external/rosboard
	url = https://github.com/dheera/rosboard.git
[submodule "workspace/src/sensing/bluespace_ai_xsens_ros_mti_driver"]
	path = workspace/src/sensing/bluespace_ai_xsens_ros_mti_driver
	url = git@github.com:bluespace-ai/bluespace_ai_xsens_ros_mti_driver
	ignore = dirty
[submodule "workspace/src/sensing/nmea_navsat_driver"]
	path = workspace/src/sensing/nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
[submodule "workspace/src/sensing/sbg_ros2_driver"]
	path = workspace/src/sensing/sbg_ros2_driver
	url = https://github.com/SBG-Systems/sbg_ros2_driver.git
[submodule "workspace/src/sensing/ros2_wheeltec_n100_imu"]
	path = workspace/src/sensing/ros2_wheeltec_n100_imu
	url = https://github.com/NDHANA94/ros2_wheeltec_n100_imu.git
[submodule "workspace/src/serial-ros2"]
	path = workspace/src/sensing/serial-ros2
	url = https://github.com/RoverRobotics-forks/serial-ros2.git
[submodule "workspace/src/sensing/WHEELTEC_N100_IMU_ROS2"]
	path = workspace/src/sensing/WHEELTEC_N100_IMU_ROS2
	url = https://github.com/Carpediem324/WHEELTEC_N100_IMU_ROS2.git
