[submodule "workspace/src/external/mocap_optitrack"]
	path = workspace/src/external/mocap_optitrack
	url = https://github.com/ros-drivers/mocap_optitrack.git
[submodule "workspace/src/sensing/usb_cam"]
	path = workspace/src/sensing/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
	ignore = dirty
[submodule "workspace/src/simulation/chrono-ros-bridge"]
	path = workspace/src/simulation/chrono-ros-bridge
	url = https://github.com/uwsbel/chrono-ros-bridge
[submodule "workspace/src/external/rosboard"]
	path = workspace/src/external/rosboard
	url = https://github.com/dheera/rosboard.git
[submodule "workspace/src/bluespace_ai_xsens_ros_mti_driver"]
	path = workspace/src/sensing/bluespace_ai_xsens_ros_mti_driver
	url = git@github.com:bluespace-ai/bluespace_ai_xsens_ros_mti_driver
	ignore = dirty
[submodule "workspace/src/nmea_navsat_driver"]
	path = workspace/src/sensing/nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
